@model Normative.Models.Config.UserModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
@await Html.PartialAsync("_Header", Model.Navigation)
<!-- End Header -->
<!-- Toolbar -->
@await Html.PartialAsync("_Toolbar", Model.ToolBar)
<!-- End Toolbar -->

<h1>@Localizer["Edit"]</h1>
<h4>@Localizer["User"]</h4>
<hr />

<div class="container d-flex justify-content-center mt-5">
    <div class="row w-75">

        <form asp-action="UsersEdit"
              asp-controller="Settings"
              class="row"
              id="myform"
              method="post" asp-antiforgery="false">

            <div asp-validation-summary="ModelOnly" class="text-danger col-12 mb-3"></div>

            <input type="hidden" asp-for="Edit.UserId" name="userid" />

            <div class="form-group col-md-6">
                <label asp-for="Edit.Username" class="control-label">@Localizer["Username"]</label>
                <input asp-for="Edit.Username" name="username" autocomplete="off" class="form-control" />
                <span asp-validation-for="Edit.Username" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Edit.Name" class="control-label">@Localizer["Display Name"]</label> @* Name *@
                <input asp-for="Edit.Name" name="name" class="form-control" />
                <span asp-validation-for="Edit.Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Edit.Email" class="control-label">@Localizer["Email"]</label>
                <input asp-for="Edit.Email" name="email" class="form-control" />
                <span asp-validation-for="Edit.Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Edit.Password" class="control-label">@Localizer["Password"]</label>
                <input asp-for="Edit.Password" name="password" type="password" class="form-control" />
                <span asp-validation-for="Edit.Password" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Edit.RoleId" class="control-label">@Localizer["Role"]</label>
                <select asp-for="Edit.RoleId" name="roleid"
                        asp-items="@(new SelectList(Model.Roles, "RoleId", "Name", Model.Edit.RoleId))"
                        class="form-select">
                </select>
                <span asp-validation-for="Edit.RoleId" class="text-danger"></span>
            </div>

        </form>

    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function Save() {
            $('#myform').submit();
        }
    </script>
}
