@model PreparationModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
@await Html.PartialAsync("_Header", Model.Navigation)
<!-- End Header -->
<!-- Toolbar -->
@await Html.PartialAsync("_Toolbar", Model.ToolBar)
<!-- End Toolbar -->

<style>
    .OperationSteps-Det-tab {
        /* width: 300px; */
        width:1296px;
        margin-bottom: 5px;
    }

    .Col-Name-Det-OperationSteps {
        font-weight: bold;
    }

    .Edit-Button-OperationStepsDet {
        text-decoration: none;
        color: black;
    }

    .Back-Button-OperationStepsDet {
        text-decoration: none;
        color: black;
    }
</style>

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Preparations"]</h4>
    <hr />
    <table class="table table-striped table-bordered table-sm Preparations-Det-tab">
        <tr>
            <th>@Localizer["ColumnName"]</th>
            <th>@Localizer["ColumnData"]</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Preparation.ProductSize.ProductSizeId)</th>
            <td>@Html.DisplayFor(model => model.Preparation.ProductSize.ProductSizeId)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Preparation.PreparationType.Id)</th>
            <td>@Html.DisplayFor(model => model.Preparation.PreparationType.Id)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Preparation.Fitter)</th>
            <td>@Html.DisplayFor(model => model.Preparation.Fitter)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Preparation.Welder)</th>
            <td>@Html.DisplayFor(model => model.Preparation.Welder)</td>
        </tr>
    </table>
</div>