@model OperationModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
@await Html.PartialAsync("_Header", Model.Navigation)
<!-- End Header -->
<!-- Toolbar -->
@await Html.PartialAsync("_Toolbar", Model.ToolBar)
<!-- End Toolbar -->

<style>
    .Back-Button-OperationsE {
        text-decoration: none;
        color: black;
    }

    .Name-adjust-E-Operations {
        margin-bottom: 5px;
    }

    .Name2-adjust-E-Operations{
        margin-bottom: 5px;
    }

    .OperationNumber-adjust-E-Operations{
        margin-bottom: 5px;
    }

    .OperationDescription-adjust-E-Operations{
        margin-bottom: 5px;
    }

    .WorkCenter-adjust-E-Operations{
        margin-bottom: 5px;
    }

    .Save-adjust-E-Operations {
        margin-bottom: 5px;
    }
</style>

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Operation"]</h4>
<hr />
<div class="container d-flex justify-content-center mt-5">
    <div class="row w-75">
        <form asp-action="Edit" class="row" id="myform">
            <div asp-validation-summary="ModelOnly" class="text-danger col-12 mb-3"></div>
            <input type="hidden" asp-for="@Model.Operation.OperationId" />

            <div class="form-group col-md-6">
                <label asp-for="@Model.Operation.ProductLineId" class="control-label"></label>

                <select asp-for="@Model.Operation.ProductLineId"
                        asp-items="@(new SelectList(Model.ProductLines ?? Enumerable.Empty<ProductLine>(), "ProductLineId", "Name", Model.Operation.ProductLineId))"
                        class="form-select">
                </select>

                <span asp-validation-for="@Model.Operation.ProductLineId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="@Model.Operation.ProductTypeId" class="control-label"></label>

                <select asp-for="@Model.Operation.ProductTypeId"
                        asp-items="@(new SelectList(Model.ProductTypes ?? Enumerable.Empty<ProductType>(), "ProductTypeId", "Name", Model.Operation.ProductTypeId))"
                        class="form-select">
                </select>

                <span asp-validation-for="@Model.Operation.ProductTypeId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="@Model.Operation.OperationNumber" class="control-label"></label>
                <input asp-for="@Model.Operation.OperationNumber" class="form-control" />
                <span asp-validation-for="@Model.Operation.OperationNumber" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="@Model.Operation.OperationDescription" class="control-label"></label>
                <input asp-for="@Model.Operation.OperationDescription" class="form-control" />
                <span asp-validation-for="@Model.Operation.OperationDescription" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="@Model.Operation.WorkCenter" class="control-label"></label>
                <input asp-for="@Model.Operation.WorkCenter" class="form-control" />
                <span asp-validation-for="@Model.Operation.WorkCenter" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function Save() {
            $('#myform').submit(); // jQuery .submit() trigger validaci spustí
        }
    </script>
}