@* @model IPagedList<ProductLine> *@
@model ProductLineModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Header -->
@await Html.PartialAsync("_Header", Model.Navigation)
<!-- End Header -->
<!-- Toolbar -->
@await Html.PartialAsync("_Toolbar", Model.ToolBar)
<!-- End Toolbar --> 

<style>
     .Create-Button-ProductLine{
            text-decoration: none;
            color: black;
     }

     .Edit-Button-ProductLine {
            text-decoration: none;
            color: black;
     }

     .Details-Button-ProductLine {
            text-decoration: none;
            color: black;
     }

     .Delete-Button-ProductLine {
            text-decoration: none;
            color: black;
     }

</style>

@* <h1>@Localizer["Index"]</h1>*@
<h4 style="font-weight: bold;">@Localizer["ProductLine"]</h4>
<hr />
@* <p>
    <button class="btn btn-outline-secondary w-10 me-1"><a class="Create-Button-ProductLine" asp-action="Create">Create New</a></button>
</p> *@
<table class="table table-striped table-bordered table-sm Prod-Line-tab">
    <thead>
        <tr>
            <th>@Localizer["Name"]</th>
            <th class="options-size">@* @Localizer["Options"] *@</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductLines)
        {
        <tr>
            <td class="col-9">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td colspan="3" class="text-end">
                <button class="btn btn-outline-primary"><a class="Edit-Button-ProductLine" asp-action="Edit" asp-route-id="@item.ProductLineId">@Localizer["Edit"]</a></button>
                <button class="btn btn-outline-primary"><a class="Details-Button-ProductLine" asp-action="Details" asp-route-id="@item.ProductLineId">@Localizer["Details"]</a></button>
                <button class="btn btn-outline-danger"><a class="Delete-Button-ProductLine" asp-action="Delete" asp-route-id="@item.ProductLineId">@Localizer["Delete"]</a></button>
            </td>
        </tr>
        }
    </tbody>
</table>




<div class="row">
    <div class="col-10">
        @Html.PagedListPager(
                 Model.ProductLines,
                 page => Url.Action("Index", new
                 {
                     page = page
                 }),
                 new PagedListRenderOptions()
        {
            LiElementClasses = new List<string> { "page-item page-item" },
            UlElementClasses = new List<string> { "pagination" },
            PageClasses = new string[] { "page-link" },
            MaximumPageNumbersToDisplay = 5,
        })

    </div>
    <div class="col-2 text-end">
        @(Model.ProductLines.PageCount < Model.ProductLines.PageNumber ? 0 : Model.ProductLines.PageNumber) z @Model.ProductLines.PageCount
    </div>
</div>
